/models
/raw_data/nekon1987 fpool3-keras-implementation master dataset-training_negative-identification.zip
/raw_data/nekon1987 fpool3-keras-implementation master dataset-training_positive-identification.zip
/raw_data/ESC-50-master.zip
/raw_data/pos_add
/raw_data/back_add
/raw_data/cv-corpus-19.0-delta-2024-09-13-en.tar.gz
/raw_data/Picovoice wake-word-benchmark master audio-jarvis.zip
/raw_data/ENVR-v5.4.Gmm.Bin.zip
/raw_data/vachagancode trigger-word-detector main raw_data-positive.zip